
<!-- Contains partial for the posts index page -->



<h1>Add names for camball's secret santa app</h1>

<% camballs.forEach(function(camball) { %>
  <p>
      <a href="/camball/<%- camball.partner1 %>"<h2><%- camball.partner1 %></h2></a> 
    &nbsp&nbsp&nbsp&nbsp&nbsp 
    <a href="/camball/<%- camball.partner2 %>"<h2><%- camball.partner2 %></h2></a>
  <button onclick="var xhr = new XMLHttpRequest(); xhr.open('DELETE', '/camball/<%- camball.partner1 %>', true); xhr.send();">delete</button>
  </p>
  <% }) %>


  





<form method="post">
  Partner 1
  <input type="text" name="partner1">
  Parnter 2
  <input type="text" name="partner2">
  <input type="submit" value="Submit">
</form>

<button onclick="var xhr = new XMLHttpRequest(); xhr.open('PUT', '/camball', true); xhr.send();">Finalize</button>
  


<!-- <form method="post" action="/finalize"> -->
  <!-- <input type="submit" value="Finalize participants"> -->
<!-- </form> -->